:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}
body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #12232e 50%, #007cc7 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/*form*/

.form-control {
  border-color: #eee;
  min-height: 40px;
  box-shadow: none !important;
  width: 95%;
  margin-top: 5px;
  
}

.signup-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h1 {
  font-size: 30px;
  margin: 0 0 20px 0;
  display: inline-block;
  padding: 0 30px 10px 0;
  border-bottom: 3px solid #d35c5c;
}
.signup-form form {
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 15px;
}
.signup-form label {
  font-weight: normal;
  font-size: 20px;
}

.signup-form .btn {
  font-size: 18px;
  font-weight: bold;
  background: #d35c5c;
  border: none;
  margin-top: 20px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #ce3434;
  outline: none !important;
}
.signp {
  margin-left: 10px;
}
.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

/*login button style*/
.log {
  width: 100%;
  min-height: 45px;
  border-radius: 1rem;
  
}

.logout{
  text-align: center;
  padding-top: 20%;
  font-size: 30px;
 
}
.navstyle{
  font-size: 29px;
}
.navv{
  width: 200px;
}


.hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url("2.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.9;
     
}

.welcometag {
  position: relative;
  color: #110909;  
  font-size: 12rem;
  line-height: 0.9;
  text-align: center;
  text-shadow: 3px 3px rgb(94, 15, 15);
}
.tablediv{
  text-align: center; 
  background-color: rgb(187, 180, 180);
}
.table{
  font-size: 21px;

  font-weight: 500;
}

#bg {
  position: fixed; 
  top: 70px; 
  left: 0; 
    opacity: 0.18;
    background-size: cover;
    height: 100vh;
    width: 100%;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}